<!-- <div class="row">
    <div class="col-xs-12">
         <button class="btn btn-success">New Department</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- before updating department insert list directly -->
        <!--<a 
        herf="#"
        class="list-group-item clearfix" 
        *ngFor="let department of department">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{department.departmentName}}</h4>
                <p class="list-group-item-text"> {{department.departmentDesc}}</p>
            </div>
        </a>
    </div> 
</div> -->

<ng2-smart-table [settings]="settings"></ng2-smart-table>