<!-- <div class="row">
    <div class="col-xs-12">
         <button class="btn btn-success">New Recuiter</button>
    </div>
</div>
<hr>

        <!-- before updating recuiter insert list directly -->
       
        <!-- table for recuiter information -->
        <!-- <a *ngFor="let recuiter of recuiter">   
        <table id="t01" >
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                </tr>
                <tr>        
                    <td>{{recuiter.name}}</td>
                    <td>{{recuiter.lastname}}</td>
                    <td>{{recuiter.email}}</td>
                    <td>{{recuiter.phone}}</td>
                    <td>{{recuiter.department}}</td>
                </tr>
            </table>
            </a> -->
        
            <!-- <a 
            herf="#"
            *ngFor="let recuiter of recuiter"> -->

            <ng2-smart-table [settings]="settings"></ng2-smart-table>
