<!-- <div class="row">
    <div class="col-xs-12">
         <button class="btn btn-success">New User</button>
    </div>
</div>
<hr>

        <!-- before updating users insert list directly -->
       
        <!-- table for users information -->
        <!-- <a *ngFor="let user of user">   
        <table id="t01" >
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                </tr>
                <tr>        
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.department}}</td>
                </tr>
            </table>
            </a> -->
        
            <!-- <a 
            herf="#"
            *ngFor="let user of role"> --> 

            <ng2-smart-table [settings]="settings"></ng2-smart-table>